src/main/app/bridge-payment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="paymentsFromLocation">
        <vm:inbound-endpoint exchange-pattern="one-way" path="paymentsFromLocation" connector-ref="VM" doc:name="VM"/>
        <component doc:name="Get payment for given Square account">
            <singleton-object class="util.payment.PaymentsFromLocationReporter">
                <property key="apiUrl" value="${api.url}${api.version}"/>
            </singleton-object>
        </component>
        <vm:outbound-endpoint exchange-pattern="one-way" path="#[sessionVars.destinationQueue]" connector-ref="VM" doc:name="Send to &quot;destinationQueue&quot; sessionVar"/>
    </flow>
    <flow name="paymentsFromLocationsInput">
        <vm:inbound-endpoint exchange-pattern="one-way" path="paymentsFromLocationsInput" connector-ref="VM" doc:name="VM"/>
        <set-session-variable variableName="incomingDestinationQueue" value="#[sessionVars.destinationQueue]" doc:name="Set placeholder variable for destinationQueue"/>
        <set-session-variable variableName="destinationQueue" value="paymentsFromLocationsOutput" doc:name="Set temporary destinationQueue"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="paymentsFromLocation" connector-ref="VM" doc:name="Send to &quot;paymentsFromLocation&quot; queue"/>
    </flow>
    <flow name="paymentsFromLocationsOutput">
        <vm:inbound-endpoint exchange-pattern="one-way" path="paymentsFromLocationsOutput" connector-ref="VM" doc:name="Get from &quot;paymentsFromLocation&quot; queue"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <set-session-variable variableName="destinationQueue" value="#[sessionVars.incomingDestinationQueue]" doc:name="Reset destinationQueue from placeholder"/>
        <remove-session-variable variableName="#[sessionVars.incomingDestinationQueue]" doc:name="Delete placeholder variable"/>
        <combine-collections-transformer doc:name="Combine Collections" doc:description="This is necessary because of an underlying Mule mechanic. This operation does not flatten arrays of arrays, but it does turn Mule collections of objects - like those created after a split-collect operation - into a single Mule message. The payload remains unaffected, but it allows operations on the payload to continue."/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="#[sessionVars.incomingDestinationQueue]" connector-ref="VM" doc:name="Send to &quot;incomingDestinationQueue&quot; sessionVar"/>
    </flow>
</mule>
