src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
    <flow name="triggerPaymentsFromLocation">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="{&quot;accessToken&quot;:&quot;pYZxdGn4pjIfwk_BU08h-g&quot;,&quot;squareId&quot;:&quot;me&quot;}" doc:name="Set Payload"/>
        <json:json-to-object-transformer returnClass="util.SquarePayload" doc:name="JSON to Object"/>
        <set-session-variable variableName="destinationQueue" value="results" doc:name="Copy_of_Session Variable"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="paymentsFromLocation" connector-ref="VM" doc:name="VM"/>
        <set-payload value="Message sent successfully." doc:name="Set Payload"/>
    </flow>
    <flow name="results">
        <vm:inbound-endpoint exchange-pattern="one-way" path="results" connector-ref="VM" doc:name="VM"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
flatten payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[&quot;Total number of payments included: &quot; + payload.size()]" level="INFO" doc:name="Logger"/>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="prospectenhancer2%40gmail.com" password="LittleHorseshoe351" connector-ref="Gmail" to="colinlam+muletest@squareup.com" from="Square Mule" subject="Square Report Test" responseTimeout="10000" doc:name="SMTP"/>
    </flow>
    <flow name="triggerPaymentsFromLocations">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/many" doc:name="Copy_of_HTTP"/>
        <set-payload value="[{&quot;merchantId&quot;: &quot;7PZ8TKDZB8B54&quot;,&quot;locationId&quot;: &quot;7PZ8TKDZB8B54&quot;,&quot;accessToken&quot;: &quot;daT6X7kSZj38L70iMELIsw&quot;,&quot;params&quot;: {&quot;begin_time&quot;: &quot;2014-01-01T00:00:00Z&quot;,&quot;end_time&quot;: &quot;2014-01-02T00:00:00Z&quot;}}]" doc:name="Copy_of_Set Payload"/>
        <json:json-to-object-transformer returnClass="util.SquarePayload[]" doc:name="Copy_of_JSON to Object"/>
        <set-session-variable variableName="destinationQueue" value="results" doc:name="Session Variable"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="paymentsFromLocationsInput" connector-ref="VM" doc:name="Copy_of_VM"/>
        <set-payload value="Message sent successfully." doc:name="Copy_of_Set Payload"/>
    </flow>
</mule>
