src/main/app/transaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <flow name="paymentsFromLocation">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="{&quot;accessToken&quot;:&quot;pYZxdGn4pjIfwk_BU08h-g&quot;,&quot;squareId&quot;:&quot;me&quot;}" doc:name="Set Payload"/>
        <json:json-to-object-transformer returnClass="transaction.SquareAccount" doc:name="JSON to Object"/>
        <component class="transaction.PaymentsFromLocationReporter" doc:name="Java"/>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
        <set-property propertyName="name" value="12345" doc:name="Property"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="outgoing" connector-ref="VM" doc:name="VM"/>
    </flow>
    <flow name="transactionFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="outgoing" connector-ref="VM" doc:name="VM"/>
        <logger message="#[&quot;Did name survive? &quot; + message.inboundProperties.name]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
