src/main/app/vfcorp-reporting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd">
    <vm:connector name="VFC_VM_Loyalty" validateConnections="true" doc:name="VM"/>
    <queued-asynchronous-processing-strategy name="VFC_Loyalty_Async_Processing_Strategy" maxThreads="${vfcorp.loyalty.maxThreads}" doc:name="Queued Asynchronous Processing Strategy" minThreads="1" poolExhaustedAction="WAIT" threadWaitTimeout="1200000"/>
    <sftp:connector name="SFTP-VFC-reporting" validateConnections="true" doc:name="SFTP"/>
    <quartz:connector name="Quartz-VFC-reporting" validateConnections="true" doc:name="Quartz">
        <quartz:factory-property key="org.quartz.scheduler.instanceName" value="Quartz-VFC-reporting"/>
    </quartz:connector>
    <flow name="VFC:generate-aggregate-transactions-report">
        <logger message="Starting VFC:generate-aggregate-transactions-report" level="INFO" doc:name="Logger"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Query database for all TNF deployment IDs">
            <db:parameterized-query><![CDATA[SELECT * FROM token WHERE deployment LIKE #[flowVars.deploymentPattern];]]></db:parameterized-query>
        </db:select>
        <component doc:name="Create deployment payloads">
            <singleton-object class="vfcorp.reporting.DeploymentsCallable"/>
        </component>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="VFC:aggregate-transactions-async-worker" connector-ref="VFC_VM_Loyalty" doc:name="VFC:aggregate-transactions-async-worker">
                <collection-splitter doc:name="Collection Splitter" enableCorrelation="ALWAYS"/>
            </vm:outbound-endpoint>
            <vm:inbound-endpoint exchange-pattern="one-way" path="VFC:aggregate-transactions-reply" connector-ref="VFC_VM_Loyalty" doc:name="VFC:aggregate-transactions-reply">
                <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
            </vm:inbound-endpoint>
        </request-reply>
        <logger message="Completed VFC:generate-aggregate-transactions-report" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="VFC:generate-aggregate-transactions-report-async-worker" processingStrategy="VFC_Loyalty_Async_Processing_Strategy">
        <vm:inbound-endpoint exchange-pattern="one-way" path="VFC:aggregate-transactions-async-worker" connector-ref="VFC_VM_Loyalty" doc:name="VFC:aggregate-transactions-async-worker"/>
        <logger message="#[&quot;Obtaining transactions for location: &quot; + payload.getLocationId()]" level="INFO" doc:name="Logger"/>
        <component doc:name="Retrieve Transaction Details By Deployment">
            <prototype-object class="vfcorp.reporting.DetailsByDeploymentCallable"/>
        </component>
    </flow>
    <sub-flow name="VFC:TNF:generate-loyalty-file">
        <set-variable variableName="deploymentPattern" value="vfcorp-tnf-%" doc:name="deploymentPattern vfcorp-tnf-%"/>
        <flow-ref name="VFC:generate-aggregate-transactions-report" doc:name="VFC:generate-aggregate-transactions-report"/>
        <set-variable variableName="customerGroupEmail" value="${vfcorp.tlog.tnf.loyalty.group.email}" doc:name="customerGroupEmail"/>
        <set-variable variableName="filenameDateStamp" value="#['SQ_CUST_' +server.dateTime.plusDays(-1).format('yyyyMMdd') + '.DAT']" doc:name="filenameDateStamp"/>
        <set-variable variableName="encryptionKey" value="${vfcorp.tnf.encryption.key}" doc:name="encryptionKey"/>
        <set-variable variableName="archiveFolder" value="TNF/LOYALTY/" doc:name="archiveFolder"/>
        <component doc:name="Aggregate and process all locations">
            <prototype-object class="vfcorp.reporting.LoyaltyAggregationCallable"/>
        </component>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP-VFC-reporting" outputPattern="#[flowVars.filenameDateStamp]" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.loyalty}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:TNF:generate-daily-summary-email" doc:name="VFC:TNF:generate-daily-summary-email"/>
        <flow-ref name="VFC:TNF:generate-daily-category-summary-email" doc:name="VFC:TNF:generate-daily-category-summary-email"/>
        <set-payload value="#['Done processing ' + flowVars.filenameDateStamp]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="VFC:TNF:generate-daily-summary-email">
        <component doc:name="Daily Summary Logic">
            <prototype-object class="vfcorp.reporting.DailySummaryCallable"/>
        </component>
        <smtp:outbound-endpoint host="${email.info.sending.server}"  user="${email.info.sending.username}" password="${email.info.sending.password}" connector-ref="SES_SMTP_STARTTLS_HTML"  from="${email.info.sending.from.reports}" subject="#['Square Daily TNF Summary - ' + server.dateTime.plusDays(-1).format('EEE, d MMM yyyy')]" responseTimeout="10000" doc:name="Email Summary" mimeType="text/html" to="${vfcorp.tnf.summary.email}"/>
    </sub-flow>
    <sub-flow name="VFC:TNF:generate-daily-category-summary-email">
        <component doc:name="Daily Category Summary Logic">
            <prototype-object class="vfcorp.reporting.DailyCategoriesSummaryCallable"/>
        </component>
        <smtp:outbound-endpoint host="${email.info.sending.server}"  user="${email.info.sending.username}" password="${email.info.sending.password}" connector-ref="SES_SMTP_STARTTLS" from="${email.info.sending.from.reports}" subject="#['Square Daily TNF Categories Summary - ' + server.dateTime.plusDays(-1).format('EEE, d MMM yyyy')]"  responseTimeout="10000" mimeType="text/html" doc:name="Email Category Summary" to="${vfcorp.tnf.summary.email}"/>
    </sub-flow>
    <flow name="VFC:TNF:trigger-generate-loyalty-file">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vfc/loyalty/${urlKey}/{brand}" doc:name="/loyalty"/>
        <set-session-variable variableName="range" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="range"/>
        <set-session-variable variableName="offset" value="#[message.inboundProperties.'http.query.params'.offset]" doc:name="offset"/>
        <flow-ref name="VFC:TNF:generate-loyalty-file" doc:name="VFC:TNF:generate-loyalty-file"/>
    </flow>
    <flow name="VFC:TNF:generate-loyalty-file-cron" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="quartz-vfc-tnf-generate-loyalty-1509907119" cronExpression="0 0 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Cron every day at 3:00am (PST)" connector-ref="Quartz-VFC-reporting" cronTimeZone="America/Los_Angeles">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <logger message="ATTEMPTING TO RUN TNF loyalty..." level="INFO" doc:name="debug Logger"/>
        <choice doc:name="Loyalty Enabled?">
            <when expression="#['${vfcorp.tlog.tnf.loyalty.enabled}' == false]">
                <logger message="TNF loyalty disabled. Not generating loyalty file." level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <set-session-variable variableName="offset" value="1" doc:name="offset: 1"/>
                <set-session-variable variableName="range" value="1" doc:name="range: 1"/>
                <flow-ref name="VFC:TNF:generate-loyalty-file" doc:name="VFC:TNF:generate-loyalty-file"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="VFC:TNF:trigger-generate-deposits-file">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vfc/tnf/deposits/LtgCWxOPXNTB7GwP" doc:name="/vfc/tnf/deposits"/>
        <logger message="Starting VFC:TNF:trigger-generate-deposits-file" level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="range" value="#[message.inboundProperties.'http.query.params'.days != null ? message.inboundProperties.'http.query.params'.days : &quot;1&quot;]" doc:name="range"/>
        <set-session-variable variableName="offset" value="#[message.inboundProperties.'http.query.params'.offset != null ? message.inboundProperties.'http.query.params'.offset : &quot;0&quot;]" doc:name="offset"/>
        <set-session-variable variableName="emails" value="#[message.inboundProperties.'http.query.params'.emails != null ? message.inboundProperties.'http.query.params'.emails : &quot;${vfcorp.tnf.deposits.email}&quot;]" doc:name="emails"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Query database for all TNF deployment IDs">
            <db:parameterized-query><![CDATA[SELECT * FROM token WHERE deployment LIKE 'vfcorp-tnf-%';]]></db:parameterized-query>
        </db:select>
        <component doc:name="Create deployment payloads">
            <prototype-object class="vfcorp.reporting.DeploymentsCallable"/>
        </component>
        <component doc:name="Deposits Aggregation Logic">
            <prototype-object class="vfcorp.reporting.DepositsAggregateCallable"/>
        </component>
        <smtp:outbound-endpoint host="${email.info.sending.server}"  user="${email.info.sending.username}" password="${email.info.sending.password}" connector-ref="SES_SMTP_STARTTLS" to="#[sessionVars.emails]" from="${email.info.sending.from.reports}" subject="#['TNF Square Deposits - generated ' + server.dateTime.format('EEE, d MMM yyyy')]"  responseTimeout="10000" mimeType="text/html" doc:name="Email Summary"/>
        <set-payload value="Deposits Report generated for #[sessionVars.emails]" doc:name="Set Payload"/>
    </flow>
</mule>
