src/main/app/vfcorp-plu-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <vm:connector name="VFC_VM_PLU" validateConnections="true" doc:name="VM"/>
    <queued-asynchronous-processing-strategy name="VFC_PLU_SyncToDatabase_Async_Strategy" maxThreads="${vfcorp.plu.syncToDatabase.maxThreads}" minThreads="1" doc:name="Queued Asynchronous Processing Strategy" poolExhaustedAction="WAIT" threadWaitTimeout="43200000"/>
    <quartz:connector name="Quartz-VFC-plu" validateConnections="true" doc:name="Quartz">
        <quartz:factory-property key="org.quartz.scheduler.instanceName" value="Quartz-VFC-plu"/>
    </quartz:connector>
    <flow name="VFC:plu-sftp-cron" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="quartz-vfc-plu-sftp-1490636322" cronExpression="0 0/20 * 1/1 * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every 20 minutes" connector-ref="Quartz-VFC-plu">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <component doc:name="Check deployment SFTP folders for PLU files">
		    <prototype-object class="vfcorp.PLUPollSyncToDatabaseCallable">
		    	<property key="databaseUrl" value="jdbc:mysql://${mysql.ip}:${mysql.port}/${mysql.database}"/>
                <property key="databaseUser" value="${mysql.user}"/>
                <property key="databasePassword" value="${mysql.password}"/>
                <property key="sftpHost" value="${vfcorp.sftp.host}"/>
                <property key="sftpPort" value="${vfcorp.sftp.port}"/>
                <property key="sftpUser" value="${vfcorp.sftp.username}"/>
                <property key="sftpPassword" value="${vfcorp.sftp.password}"/>
		    </prototype-object>
		</component>
        <choice doc:name="Only process non-empty lists">
            <when expression="#[payload == null || payload.size() &lt; 1]">
                <logger message="VFC SFTP Poll: No files to process" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <foreach doc:name="For Each PluSyncDatabaseRequest">
                    <vm:outbound-endpoint exchange-pattern="one-way" path="vfc-plu-sync-to-db" connector-ref="VFC_VM_PLU" doc:name="vm://vfc-plu-sync-to-db"/>
                </foreach>
            </otherwise>
        </choice>
    </flow>
    <flow name="VFC:trigger-plu-sftp-cron">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vfc/plu/sync/${urlKey}" doc:name="/plu/sync"/>
        <flow-ref name="VFC:plu-sftp-cron" doc:name="VFC:plu-sftp-cron"/>
        <set-payload value="Ran PLU SFTP Cron" doc:name="Set Payload"/>
    </flow>
    <flow name="VFC:plu-sync-to-database" processingStrategy="VFC_PLU_SyncToDatabase_Async_Strategy">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vfc-plu-sync-to-db" connector-ref="VFC_VM_PLU" name="vfcPLUSyncVM" doc:name="vm://vfc-plu-sync-to-db"/>
        <logger message="Initiating PLU (#[payload.getOriginalFileName()]) ingestion for deployment #[payload.getDeployment().getDeployment()] -- with database updates" level="INFO" doc:name="Logger"/>
        <choice doc:name="Kipling or TNF">
            <when expression="#[payload.getDeployment().getDeployment().startsWith(&quot;vfcorp-kipling-&quot;)]">
                <set-variable variableName="brand" value="Kipling" doc:name="brand: Kipling"/>
            </when>
            <otherwise>
                <set-variable variableName="brand" value="TNF" doc:name="brand: TNF"/>
            </otherwise>
        </choice>
        <set-variable variableName="awsFolder" value="#[flowVars.brand + '/' + payload.getDeployment().getStoreId() + '/PLU']" doc:name="AWS bucket folder"/>
        <component doc:name="Prepare stream to move PLU from SFTP To AWS">
            <prototype-object class="vfcorp.PLUSyncToAwsPrepareCallable">
		    	<property key="sftpHost" value="${vfcorp.sftp.host}"/>
				<property key="sftpPort" value="${vfcorp.sftp.port}"/>
                <property key="sftpUser" value="${vfcorp.sftp.username}"/>
                <property key="sftpPassword" value="${vfcorp.sftp.password}"/>
		    </prototype-object>
        </component>
        <logger message="Saving file to S3..." level="INFO" doc:name="Logger"/>
        <s3:create-object config-ref="Amazon_S3__Configuration" bucketName="${aws.bucket}" key="#[flowVars.pluAwsKey]" content-ref="#[flowVars.pluStreamReaderAws]" doc:name="Initiate copy to Amazon S3"/>
        <logger message="File saved to S3. Establishing new input stream from S3..." level="INFO" doc:name="Logger"/>
        <s3:get-object config-ref="Amazon_S3__Configuration" bucketName="${aws.bucket}" key="#[flowVars.pluAwsKey]" doc:name="Read new stream from S3"/>
        <set-variable variableName="pluInputStream" value="#[payload.objectContent]" doc:name="Save PLU stream reader"/>
        <component doc:name="Close SFTP connections">
            <singleton-object class="vfcorp.PLUSyncToAwsCleanupCallable"/>
        </component>
        <logger message="Retrieved new inputStream from S3. Beginning syncing to database..." level="INFO" doc:name="Logger"/>
        <component doc:name="Sync PLU To Database">
            <prototype-object class="vfcorp.PLUSyncToDatabaseCallable">
		    	<property key="databaseUrl" value="jdbc:mysql://${mysql.ip}:${mysql.port}/${mysql.database}"/>
                <property key="databaseUser" value="${mysql.user}"/>
                <property key="databasePassword" value="${mysql.password}"/>
                <property key="sftpHost" value="${vfcorp.sftp.host}"/>
                <property key="sftpPort" value="${vfcorp.sftp.port}"/>
                <property key="sftpUser" value="${vfcorp.sftp.username}"/>
                <property key="sftpPassword" value="${vfcorp.sftp.password}"/>
		    </prototype-object>
        </component>
    </flow>
    <sub-flow name="VFC:plu-database-to-square-for-brand">
        <logger message="Initiating PLU Database to Square update for VFC brand: #[sessionVars.brand]" level="INFO" doc:name="Logger"/>
        <component doc:name="Database to Square Catalog Update">
            <prototype-object class="vfcorp.PLUDatabaseToSquareCallable"> 
                <property key="databaseUrl" value="jdbc:mysql://${mysql.ip}:${mysql.port}/${mysql.database}"/>  
                <property key="databaseUser" value="${mysql.user}"/>  
                <property key="databasePassword" value="${mysql.password}"/>  
                <property key="itemNumberLookupLength" value="${vfcorp.itemNumberLookupLength}"/>  
                <property key="apiUrl" value="${api.url}"/>  
            </prototype-object>
        </component>
        <set-payload value="Completed Database to Square updates for VFC brand: #[sessionVars.brand]" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="${email.info.sending.email}" password="${email.info.sending.password}" connector-ref="Gmail" to="${email.info.receiving.email}" from="Square Bridge" subject="#['${mule.env}'.toUpperCase() + ' - COMPLETED Catalog updates - ' + sessionVars.brand]" responseTimeout="10000" doc:name="Email to Sales Eng"/>
    </sub-flow>
    <flow name="VFC:trigger-plu-database-to-square-for-brand">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vfc/plu/square/${urlKey}/{brand}" doc:name="/vfc/plu/square/KEY/BRAND"/>
        <set-session-variable variableName="brand" value="#[message.inboundProperties.'http.uri.params'.brand]" doc:name="Set brand"/>
        <logger message="HTTP Trigger: PLU Database to Square: #[sessionVars.brand]" level="INFO" doc:name="Logger"/>
        <async doc:name="Async">
            <flow-ref name="VFC:plu-database-to-square-for-brand" doc:name="VFC:plu-database-to-square-for-brand"/>
        </async>
        <set-payload value="Running PLU Database to Square for VFC brand: #[sessionVars.brand]" doc:name="Set Payload"/>
    </flow>
    <flow name="VFC:TNF:plu-trigger-database-to-square" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="quartz-vfc-tnf-PLU-daily-1490636324" cronExpression="0 0 8 * * ? *" repeatInterval="0" connector-ref="Quartz-VFC-tlog" responseTimeout="10000" doc:name="Run every day at 4:00am EST / 8:00am UTC ">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <logger message="CRON: PLU Database to Square for TNF" level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="brand" value="tnf" doc:name="Set brand: tnf"/>
        <flow-ref name="VFC:plu-database-to-square-for-brand" doc:name="VFC:plu-database-to-square-for-brand"/>
    </flow>
    <flow name="VFC:Kipling:plu-trigger-database-to-square" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="quartz-vfc-kipling-PLU-daily-1490636324" cronExpression="0 0 8 * * ? *" repeatInterval="0" connector-ref="Quartz-VFC-tlog" responseTimeout="10000" doc:name="Run every day at 4:00am EST / 8:00am UTC ">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <logger message="CRON: PLU Database to Square for Kipling" level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="brand" value="kipling" doc:name="Set brand: kipling"/>
        <flow-ref name="VFC:plu-database-to-square-for-brand" doc:name="VFC:plu-database-to-square-for-brand"/>
    </flow>
</mule>
