src/main/app/vfcorp-smartwool.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <quartz:connector name="Quartz-Smartwool" validateConnections="true" doc:name="Quartz">
        <quartz:factory-property key="org.quartz.scheduler.instanceName" value="Quartz-Smartwool"/>
    </quartz:connector>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="VFC:SmartWool:email-report-links-cron" processingStrategy="synchronous">
        <quartz:inbound-endpoint cronExpression="0 0 7 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 7:00am EST" jobName="quartz-smartwool-reportlinks-1509907119" connector-ref="Quartz-Smartwool" cronTimeZone="America/New_York">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <choice doc:name="Active?">
            <when expression="#['${vfcorp.smartwool.active.emails}'==false]">
                <logger level="INFO" doc:name="Logger" message="Not starting VFC:SmartWool:email-report-links-cron"/>
            </when>
            <otherwise>
                <logger message="Starting VFC:SmartWool:email-report-links-cron" level="INFO" doc:name="Logger"/>
                <flow-ref name="VFC:SmartWool:email-report-links" doc:name="VFC:SmartWool:email-report-links"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="VFC:SmartWool:email-report-links">
        <set-variable variableName="deployment" value="${vfcorp.smartwool.deploymentId}" doc:name="Deployment ID"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <flow-ref name="MI:OAuth:retrieveToken" doc:name="MI:OAuth:retrieveToken"/>
        <component doc:name="Generate and Send Links">
            <prototype-object class="vfcorp.SmartWoolReportLinksCallable"/>
        </component>
        <smtp:outbound-endpoint host="${email.info.sending.server}"  user="${email.info.sending.username}" password="${email.info.sending.password}" connector-ref="SES_SMTP_STARTTLS_HTML" from="${email.info.sending.from.reports}" subject="#['Square Daily SmartWool Summary - ' + server.dateTime.plusDays(-1).format('EEE, d MMM yyyy')]"  responseTimeout="10000" doc:name="Email SmartWool Cohort" to="${vfcorp.smartwool.recipients}"/>
    </sub-flow>
    <flow name="VFC:SmartWool:email-report-links-trigger">
        <http:listener config-ref="${default.http.config}" path="/${urlKey}/vfc-smartwool-email-report-links" doc:name="HTTPS"/>
        <logger message="Triggered VFC:SmartWool:email-report-links-trigger" level="INFO" doc:name="Logger"/>
        <flow-ref name="VFC:SmartWool:email-report-links" doc:name="VFC:SmartWool:email-report-links"/>
        <set-payload value="Triggered VFC:SmartWool:email-report-links flow" doc:name="Set Payload"/>
    </flow>
    <flow name="VFC:SmartWool:generate-reports-trigger">
        <http:listener config-ref="${default.http.config}" path="/${urlKey}/vfc-smartwool-generate-reports" doc:name="HTTPS"/>
        <logger message="Triggered VFC:SmartWool:generate-reports-trigger" level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="writeLocal" value="#[message.inboundProperties.'http.query.params'.writeLocal != null ? message.inboundProperties.'http.query.params'.writeLocal : false]" doc:name="Set Write Local"/>
        <set-session-variable variableName="#[util.Constants.RANGE]" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="Set Range"/>
        <set-session-variable variableName="#[util.Constants.OFFSET]" value="#[message.inboundProperties.'http.query.params'.offset]" doc:name="Set Offset"/>
        <choice doc:name="Date Provided?">
	       <when expression="#[message.inboundProperties.'http.query.params'.fileDate == null]">
	      		<set-session-variable variableName="fileDate" value="#[function:datestamp:MM-dd-yy]" doc:name="Set Current Datestamp"/>
	       </when>
	       <otherwise>
	       	<set-session-variable variableName="fileDate" value="#[message.inboundProperties.'http.query.params'.fileDate]" doc:name="Set Datestamp from Query Param"/>
	       </otherwise>
       	</choice>
        <flow-ref name="VFC:SmartWool:generate-reports" doc:name="VFC:SmartWool:generate-reports"/>
        <set-payload value="Triggered VFC:SmartWool:generate-reports-trigger flow" doc:name="Set Payload"/>
    </flow>
    <flow name="VFC:SmartWool:generate-reports-cron">
        <quartz:inbound-endpoint jobName="quartz-smartwool-generate-xml-1509907119" cronExpression="0 30 7 * * ? *" repeatInterval="0" connector-ref="Quartz-Smartwool" responseTimeout="10000" doc:name="Run every day at 7:30am EST" cronTimeZone="America/New_York">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <choice doc:name="Active?">
            <when expression="#['${vfcorp.smartwool.active.sftp}'==false]">
                <logger message="Not starting VFC:SmartWool:GenerateReports" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Starting VFC:SmartWool:GenerateReports" level="INFO" doc:name="Logger"/>
                <set-session-variable variableName="writeLocal" value="false" doc:name="Set Write Local"/>
                <set-session-variable variableName="#[util.Constants.OFFSET]" value="${vfcorp.smartwool.offset}" doc:name="Set Offset"/>
                <set-session-variable variableName="#[util.Constants.RANGE]" value="${vfcorp.smartwool.range}" doc:name="Set Range"/>
                <set-session-variable variableName="fileDate" value="#[function:datestamp:MM-dd-yy]" doc:name="Set Date"/>
                <flow-ref name="VFC:SmartWool:generate-reports" doc:name="VFC:SmartWool:generate-reports"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="VFC:SmartWool:generate-reports">
        <set-variable variableName="deployment" value="${vfcorp.smartwool.deploymentId}" doc:name="Deployment ID"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <flow-ref name="MI:OAuth:retrieveToken" doc:name="MI:OAuth:retrieveToken"/>
        <set-session-variable variableName="#[util.Constants.SQUARE_PAYLOAD]" value="#[payload]" doc:name="Set Merchant Details"/>
        <component class="vfcorp.smartwool.GetLocationDetailsCallable" doc:name="VFC:SmartWool:Get-Location-Details"/>
        <flow-ref name="VFC:SmartWool:generate-payments-transactions-files" doc:name="VFC:SmartWool:generate-payments-transactions-files"/>
        <flow-ref name="VFC:SmartWool:generate-refunds-xml" doc:name="VFC:SmartWool:generate-refunds-xml"/>
        <flow-ref name="VFC:SmartWool:generate-refunds-csv" doc:name="VFC:SmartWool:generate-refunds-csv"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-payments-transactions-files">
        <component class="vfcorp.smartwool.AggregateLocationsPreviousDayPaymentsCallable" doc:name="VFC:SmartWool:Get-Payments"/>
        <flow-ref name="VFC:SmartWool:generate-items-csv" doc:name="VFC:SmartWool:generate-items-csv"/>
        <flow-ref name="VFC:SmartWool:generate-transactions-csv" doc:name="VFC:SmartWool:generate-transactions-csv"/>
        <flow-ref name="VFC:SmartWool:generate-payments-xml" doc:name="VFC:SmartWool:generate-payments-xml"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-items-csv">
        <component class="vfcorp.smartwool.TransformItemsToCsvCallable" doc:name="VFC:SmartWool:Transform Items to CSV"/>
        <set-variable variableName="reportName" value="#[sessionVars[util.Constants.SQUARE_PAYLOAD].merchantId]-items-#[sessionVars.fileDate].csv" doc:name="Set Filename"/>
        <flow-ref name="VFC:SmartWool:write-files" doc:name="Copy_of_VFC:SmartWool:write-files"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-transactions-csv">
        <component class="vfcorp.smartwool.TransformTransactionsToCsvCallable" doc:name="VFC:SmartWool:TransformTransactionsToCsvCallable"/>
        <set-variable variableName="reportName" value="#[sessionVars[util.Constants.SQUARE_PAYLOAD].merchantId]-transactions-#[sessionVars.fileDate].csv" doc:name="Set Filename"/>
        <flow-ref name="VFC:SmartWool:write-files" doc:name="Copy_of_VFC:SmartWool:write-files"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-payments-xml">
        <dw:transform-message doc:name="Transform Payment to XML">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload resource="classpath:smartwool/dwl/payment-transform.dwl"/>
        </dw:transform-message>
        <set-variable variableName="reportName" value="#[sessionVars[util.Constants.SQUARE_PAYLOAD].merchantId]-payments-#[sessionVars.fileDate].xml" doc:name="Set Filename"/>
        <flow-ref name="VFC:SmartWool:write-files" doc:name="Copy_of_VFC:SmartWool:write-files"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-refunds-csv">
        <component class="vfcorp.smartwool.TransformRefundsToCsvCallable" doc:name="VFC:SmartWool:TransformRefundsToCsv"/>
        <set-variable variableName="reportName" value="#[sessionVars[util.Constants.SQUARE_PAYLOAD].merchantId]-refunds-#[sessionVars.fileDate].csv" doc:name="Set Filename"/>
        <flow-ref name="VFC:SmartWool:write-files" doc:name="VFC:SmartWool:write-files"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-refunds-xml">
        <component class="vfcorp.smartwool.AggregateLocationsPreviousDayRefundsCallable" doc:name="VFC:SmartWool:Get-Refunds"/>
        <dw:transform-message doc:name="Transform Refunds to XML">
           <dw:input-payload mimeType="application/java"/>
           <dw:set-payload resource="classpath:smartwool/dwl/refund-transform.dwl"/>
        </dw:transform-message>
        <set-variable variableName="reportName" value="#[sessionVars[util.Constants.SQUARE_PAYLOAD].merchantId]-refunds-#[sessionVars.fileDate].xml" doc:name="Set FIlename"/>
        <flow-ref name="VFC:SmartWool:write-files" doc:name="VFC:SmartWool:write-files"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:write-files">
        <choice doc:name="Produce Local?">
            <when expression="#[sessionVars.writeLocal]">
                <file:outbound-endpoint path="output" outputPattern="#[flowVars.reportName]" connector-ref="File" responseTimeout="10000" doc:name="Write File"/>
            </when>
            <otherwise>
                <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP-VFC-reporting" outputPattern="#[flowVars.reportName]" host="${vfcorp.smartwool.sftp.host}" port="${vfcorp.smartwool.sftp.port}" path="${vfcorp.sftp.path.sw}" user="${vfcorp.smartwool.sftp.username}" password="${vfcorp.smartwool.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="Transfer to GC SFTP"/>
            </otherwise>
        </choice>
    </sub-flow>
</mule>