src/main/app/vfcorp-tlog.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
    <queued-asynchronous-processing-strategy name="VFC_Report_Asynch_Processing_Strategy" maxThreads="${vfcorp.queuedAsynchronousProcessingStrategy.maxThreads}" minThreads="1" doc:name="Queued Asynchronous Processing Strategy" threadWaitTimeout="${vfcorp.queuedAsynchronousProcessingStrategy.threadWaitTimeout}"></queued-asynchronous-processing-strategy>
    <vm:connector name="VFC_VM_Config" validateConnections="true" doc:name="VM"/>
    <s3:config name="Amazon_S3__Configuration" accessKey="${aws.accesskey}" secretKey="${aws.secretkey}" doc:name="Amazon S3: Configuration" connectionTimeout="1800000" maxConnections="150" socketTimeout="1800000">
        <reconnect/>
    </s3:config>
    <flow name="VFC:trigger-generate-tlogs">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vfc/tlogs/jXsEyB.UFz71ZNg/{brand}/{storeId}" doc:name="/tlogs"/>
        <flow-ref name="#['VFC:' + message.inboundProperties.'http.uri.params'.brand + ':tlog-store-' + message.inboundProperties.'http.uri.params'.storeId]" doc:name="#['VFC:' + message.inboundProperties.'http.uri.params'.brand + ':tlog-store-' + message.inboundProperties.'http.uri.params'.storeId]"/>
    </flow>
    <sub-flow name="VFC:Kipling:generate-tlog-for-location-settings">
        <set-variable variableName="deployment" value="#['vfcorp-kipling-' + flowVars.storeId]" doc:name="Set deployment: vfcorp-kipling-STORE_ID"/>
        <set-variable variableName="awsFolder" value="#['Kipling/' + flowVars.storeId + '/TLOG/' + server.dateTime.format('YYYYMMddhhmmss_')]" doc:name="AWS bucket folder"/>
    </sub-flow>
    <sub-flow name="VFC:TNF:generate-tlog-for-location-settings">
        <set-variable variableName="deployment" value="#['vfcorp-tnf-' + flowVars.storeId]" doc:name="Set deployment: vfcorp-tnf-STORE_ID"/>
        <set-variable variableName="awsFolder" value="#['TNF/' + flowVars.storeId + '/TLOG/' + server.dateTime.format('YYYYMMddhhmmss_')]" doc:name="AWS bucket folder"/>
    </sub-flow>
    <sub-flow name="VFC:generate-tlog-for-location">
        <logger message="Initiating TLOG generation for deployment #[flowVars.deployment]" level="INFO" doc:name="Logger"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <set-session-variable variableName="deploymentId" value="#[flowVars.deployment]" doc:name="deploymentId (VM safe)"/>
        <flow-ref name="MI:OAuth:retrieveToken" doc:name="MI:OAuth:retrieveToken"/>
        <scripting:transformer doc:name="Create payload object">
            <scripting:script engine="Groovy"><![CDATA[import vfcorp.TLOGGeneratorPayload;
import util.TimeManager;

TLOGGeneratorPayload tlogGeneratorPayload = new TLOGGeneratorPayload();

tlogGeneratorPayload.setAccessToken(payload.getAccessToken());
tlogGeneratorPayload.setMerchantId(payload.getMerchantId());
tlogGeneratorPayload.setLocationId(payload.getLocationId());
tlogGeneratorPayload.setMerchantAlias(payload.getMerchantAlias());
tlogGeneratorPayload.setLegacy(payload.isLegacy());

int offset = Integer.parseInt(flowVars["offset"]);
int range = Integer.parseInt(flowVars["range"]);
tlogGeneratorPayload.setParams(TimeManager.getPastDayInterval(range, offset, flowVars["timeZone"]));

return tlogGeneratorPayload;]]></scripting:script>
        </scripting:transformer>
        <scripting:transformer doc:name="Get locations+payments+items+employees for business">
            <scripting:script engine="Groovy"><![CDATA[import vfcorp.TLOGGeneratorPayload;
import com.squareup.connect.Employee;
import com.squareup.connect.Merchant;
import com.squareup.connect.Payment;
import com.squareup.connect.SquareClient;

TLOGGeneratorPayload sp = (TLOGGeneratorPayload) payload;

SquareClient client = new SquareClient(sp.getAccessToken(), sessionVars['apiUrl'], sessionVars['apiVersion'], sp.getMerchantId(), sp.getLocationId());

Merchant[] locations = client.businessLocations().list();
Employee[] employees = client.employees().list();
Payment[] payments = client.payments().list(sp.getParams());

sp.setLocations(locations);
sp.setEmployees(employees);
sp.setPayments(payments);

return sp;]]></scripting:script>
        </scripting:transformer>
        <component doc:name="Generate TLOGs">
            <singleton-object class="vfcorp.TLOGGenerator">
                <property key="itemNumberLookupLength" value="${vfcorp.itemNumberLookupLength}"/>
            </singleton-object>
        </component>
    </sub-flow>
    <sub-flow name="VFC:generate-tlog-for-location-finish">
        <s3:create-object config-ref="Amazon_S3__Configuration" bucketName="${aws.bucket}" key="#[flowVars.awsFolder + '${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" doc:name="Copy to Amazon S3"/>
        <logger message="#['Finished generating TLOG for VF Corporation, location ' + flowVars.vfcorpStoreNumber + ' (' + flowVars.deployment + ')']" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <flow name="VFC:Kipling:tlog-store-5019" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronKipling-store5019-1470289523" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="05019" doc:name="storeId: 05019"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:Kipling:generate-tlog-for-location-settings" doc:name="VFC:Kipling:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.kipling}${vfcorp.sftp.path.kipling.tlog.store05019}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-1" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store1-1470289523" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00001" doc:name="Set storeId: 00001"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00001}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-10" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store10-1473742274" cronExpression="0 0 4 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 4:00am UTC (11:00pm CST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00010" doc:name="Set storeId: 00010"/>
        <set-variable variableName="timeZone" value="America/Chicago" doc:name="Set timeZone: America/Chicago"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00010}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-12" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store12-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00012" doc:name="Set storeId: 00012"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00012}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-14" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store14-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00014" doc:name="Set storeId: 00014"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00014}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-20" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store20-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00020" doc:name="Set storeId: 00020"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00020}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-60" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store60-1470289523" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00060" doc:name="Set storeId: 00060"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00060}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-64" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store64-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00064" doc:name="Set storeId: 00064"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00064}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-68" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store68-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00068" doc:name="Set storeId: 00068"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00068}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-69" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store69-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00069" doc:name="Set storeId: 00069"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00069}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-73" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store73-1474843839" cronExpression="0 0 4 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 4:00am UTC (9:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00073" doc:name="Set storeId: 00073"/>
        <set-variable variableName="timeZone" value="America/Chicago" doc:name="Set timeZone: America/Chicago"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00073}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-74" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store74-1474843839" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00074" doc:name="Set storeId: 00074"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00074}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-77" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store77-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00077" doc:name="Set storeId: 00077"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00077}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-78" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store78-1474843839" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00078" doc:name="Set storeId: 00078"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00078}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-301" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store301-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00301" doc:name="Set storeId: 00301"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00301}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-313" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store313-1474843839" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00313" doc:name="Set storeId: 00313"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00313}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-314" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store314-1474843839" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00314" doc:name="Set storeId: 00314"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00314}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-318" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store318-1474843839" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00318" doc:name="Set storeId: 00318"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00318}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-321" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store321-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00321" doc:name="Set storeId: 00321"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00321}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-402" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store402-1470289523" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00402" doc:name="Set storeId: 00402"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00402}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-516" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store516-1474843454" cronExpression="0 30 3 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 3:30am UTC (8:30pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00516" doc:name="Set storeId: 00516"/>
        <set-variable variableName="timeZone" value="America/New_York" doc:name="Set timeZone: America/New_York"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00516}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
    <flow name="VFC:TNF:tlog-store-517" processingStrategy="synchronous">
        <quartz:inbound-endpoint jobName="vfcGenerateTLOGsForLocationsCronTNF-store517-1470289523" cronExpression="0 0 5 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 5:00am UTC (10:00pm PST)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <set-variable variableName="storeId" value="00517" doc:name="Set storeId: 00517"/>
        <set-variable variableName="timeZone" value="America/Los_Angeles" doc:name="Set timeZone: America/Los_Angeles"/>
        <set-variable variableName="range" value="1" doc:name="Set range: 1"/>
        <set-variable variableName="offset" value="0" doc:name="Set offset: 0"/>
        <flow-ref name="VFC:TNF:generate-tlog-for-location-settings" doc:name="VFC:TNF:generate-tlog-for-location-settings"/>
        <flow-ref name="VFC:generate-tlog-for-location" doc:name="VFC:generate-tlog-for-location"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.tlog.namePrefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.tlog.nameSuffix}']" host="${vfcorp.sftp.host}" port="${vfcorp.sftp.port}" path="${vfcorp.sftp.path.tnf}${vfcorp.sftp.path.tnf.tlog.store00517}" user="${vfcorp.sftp.username}" password="${vfcorp.sftp.password}" responseTimeout="10000" duplicateHandling="overwrite" doc:name="SFTP">
            <reconnect-forever/>
        </sftp:outbound-endpoint>
        <flow-ref name="VFC:generate-tlog-for-location-finish" doc:name="VFC:generate-tlog-for-location-finish"/>
    </flow>
</mule>
