src/main/app/vfcorp-smartwool.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <quartz:connector name="Quartz-Smartwool" validateConnections="true" doc:name="Quartz">
        <quartz:factory-property key="org.quartz.scheduler.instanceName" value="Quartz-Smartwool"/>
    </quartz:connector>
    <flow name="VFC:SmartWool:email-report-links-cron" processingStrategy="synchronous">
        <quartz:inbound-endpoint cronExpression="0 0 12 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 12:00 UTC (7:00am EST)" jobName="quartz-smartwool-reportlinks-1490636322" connector-ref="Quartz-Smartwool">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <choice doc:name="Active?">
            <when expression="#['${vfcorp.smartwool.active}'==false]">
                <logger level="INFO" doc:name="Logger" message="Not starting VFC:SmartWool:email-report-links-cron"/>
            </when>
            <otherwise>
                <logger message="Starting VFC:SmartWool:email-report-links-cron" level="INFO" doc:name="Logger"/>
                <flow-ref name="VFC:SmartWool:email-report-links" doc:name="VFC:SmartWool:email-report-links"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="VFC:SmartWool:email-report-links">
        <set-variable variableName="deployment" value="${vfcorp.smartwool.deploymentId}" doc:name="Deployment ID"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <flow-ref name="MI:OAuth:retrieveToken" doc:name="MI:OAuth:retrieveToken"/>
        <component doc:name="Generate and Send Links">
            <singleton-object class="vfcorp.SmartWoolReportLinks"/>
        </component>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="${email.info.sending.email}" password="${email.info.sending.password}" connector-ref="Gmail_HTML" from="Square Reports" subject="#['Square Daily SmartWool Summary - ' + server.dateTime.plusDays(-1).format('EEE, d MMM yyyy')]" bcc="${vfcorp.smartwool.recipients}" responseTimeout="10000" doc:name="Email SmartWool Cohort"/>
    </sub-flow>
    <flow name="VFC:SmartWool:email-report-links-trigger">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/${urlKey}/vfc-smartwool-email-report-links" doc:name="HTTP"/>
        <logger message="Triggered VFC:SmartWool:email-report-links-trigger" level="INFO" doc:name="Logger"/>
        <flow-ref name="VFC:SmartWool:email-report-links" doc:name="VFC:SmartWool:email-report-links"/>
        <set-payload value="Triggered VFC:SmartWool:email-report-links flow" doc:name="Set Payload"/>
    </flow>
</mule>
