src/main/app/vfcorp-smartwool.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <quartz:connector name="Quartz-Smartwool" validateConnections="true" doc:name="Quartz">
        <quartz:factory-property key="org.quartz.scheduler.instanceName" value="Quartz-Smartwool"/>
    </quartz:connector>
    <flow name="VFC:SmartWool:email-report-links-cron" processingStrategy="synchronous">
        <quartz:inbound-endpoint cronExpression="0 0 7 * * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Run every day at 7:00am EST" jobName="quartz-smartwool-reportlinks-1509907119" connector-ref="Quartz-Smartwool" cronTimeZone="America/New_York">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <choice doc:name="Active?">
            <when expression="#['${vfcorp.smartwool.active.emails}'==false]">
                <logger level="INFO" doc:name="Logger" message="Not starting VFC:SmartWool:email-report-links-cron"/>
            </when>
            <otherwise>
                <logger message="Starting VFC:SmartWool:email-report-links-cron" level="INFO" doc:name="Logger"/>
                <flow-ref name="VFC:SmartWool:email-report-links" doc:name="VFC:SmartWool:email-report-links"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="VFC:SmartWool:email-report-links">
        <set-variable variableName="deployment" value="${vfcorp.smartwool.deploymentId}" doc:name="Deployment ID"/>
        <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
        <flow-ref name="MI:OAuth:retrieveToken" doc:name="MI:OAuth:retrieveToken"/>
        <component doc:name="Generate and Send Links">
            <prototype-object class="vfcorp.SmartWoolReportLinksCallable"/>
        </component>
        <smtp:outbound-endpoint host="${email.info.sending.server}"  user="${email.info.sending.username}" password="${email.info.sending.password}" connector-ref="SES_SMTP_STARTTLS_HTML" from="${email.info.sending.from.reports}" subject="#['Square Daily SmartWool Summary - ' + server.dateTime.plusDays(-1).format('EEE, d MMM yyyy')]"  responseTimeout="10000" doc:name="Email SmartWool Cohort" to="${vfcorp.smartwool.recipients}"/>
    </sub-flow>
    <flow name="VFC:SmartWool:email-report-links-trigger">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/${urlKey}/vfc-smartwool-email-report-links" doc:name="HTTP"/>
        <logger message="Triggered VFC:SmartWool:email-report-links-trigger" level="INFO" doc:name="Logger"/>
        <flow-ref name="VFC:SmartWool:email-report-links" doc:name="VFC:SmartWool:email-report-links"/>
        <set-payload value="Triggered VFC:SmartWool:email-report-links flow" doc:name="Set Payload"/>
    </flow>
    <flow name="VFC:SmartWool:generate-reports-trigger">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/${urlKey}/vfc-smartwool-generate-reports" doc:name="HTTP"/>
        <logger message="Triggered VFC:SmartWool:generate-reports-trigger" level="INFO" doc:name="Logger"/>
        <flow-ref name="VFC:SmartWool:GenerateReports" doc:name="VFC:SmartWool:GenerateReports"/>
        <set-payload value="Triggered VFC:SmartWool:generate-reports-trigger flow" doc:name="Set Payload"/>
    </flow>
    <flow name="VFC:SmartWool:GenerateReports">
        <quartz:inbound-endpoint jobName="quartz-smartwool-generate-xml-1509907119" cronExpression="0 30 7 * * ? *" repeatInterval="0" connector-ref="Quartz-Smartwool" responseTimeout="10000" doc:name="Run every day at 7:30am EST" cronTimeZone="America/New_York">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <choice doc:name="Active?">
            <when expression="#['${vfcorp.smartwool.active.sftp}'==false]">
                <logger message="Not starting VFC:SmartWool:GenerateReports" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Starting VFC:SmartWool:GenerateReports" level="INFO" doc:name="Logger"/>
                <set-variable variableName="deployment" value="${vfcorp.smartwool.deploymentId}" doc:name="Deployment ID"/>
                <flow-ref name="GLOBAL:set-session-vars" doc:name="GLOBAL:set-session-vars"/>
                <flow-ref name="MI:OAuth:retrieveToken" doc:name="MI:OAuth:retrieveToken"/>
                <set-session-variable variableName="merchantDetails" value="#[payload]" doc:name="Set Merchant Details"/>
                <component class="vfcorp.smartwool.GetLocationDetailsCallable" doc:name="VFC:SmartWool:Get-Location-Details"/>
                <scatter-gather doc:name="All">
                    <flow-ref name="VFC:SmartWool:generate-payments-file" doc:name="VFC:SmartWool:generate-payments-file"/>
                    <flow-ref name="VFC:SmartWool:generate-refunds" doc:name="VFC:SmartWool:generate-refunds"/>
                </scatter-gather>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="VFC:SmartWool:generate-refunds">
        <component class="vfcorp.smartwool.AggregateLocationsPreviousDayRefundsCallable" doc:name="VFC:SmartWool:Get-Refunds"/>
        <dw:transform-message doc:name="Transform Refund to XML" metadata:id="0007cd53-1d12-4851-9178-0c062573bf10">
            <dw:input-payload mimeType="application/java" doc:sample="sample_data/list_Refund_1.dwl"/>
            <dw:input-session-variable mimeType="application/java" variableName="merchantDetails" doc:sample="sample_data/list_Map.dwl"/>
            <dw:set-payload resource="classpath:smartwool/dwl/refund-transform.dwl"/>
        </dw:transform-message>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP-VFC-reporting" outputPattern="#[sessionVars.merchantDetails.merchantId]-refunds-#[function:datestamp:MM-dd-yy].xml" host="${vfcorp.smartwool.sftp.host}" port="${vfcorp.smartwool.sftp.port}" path="${vfcorp.sftp.path.sw}" user="${vfcorp.smartwool.sftp.username}" password="${vfcorp.smartwool.sftp.password}" responseTimeout="10000" doc:name="Transfer to GC SFTP" duplicateHandling="overwrite"/>
    </sub-flow>
    <sub-flow name="VFC:SmartWool:generate-payments-file">
        <component class="vfcorp.smartwool.AggregateLocationsPreviousDayPaymentsCallable" doc:name="VFC:SmartWool:Get-Payments" metadata:id="8d49463b-609d-4080-ad4d-4db87b90e477"/>
        <dw:transform-message doc:name="Transform Payment to XML" metadata:id="7fc86e91-0750-4318-98ff-b84b35cbb46f">
            <dw:input-payload doc:sample="sample_data/list_Payment_1.dwl" mimeType="application/java"/>
            <dw:input-variable mimeType="application/java" variableName="currLocationId"/>
            <dw:input-variable mimeType="application/java" variableName="locationName"/>
            <dw:input-variable variableName="counter"/>
            <dw:input-session-variable variableName="currLocationId"/>
            <dw:input-session-variable variableName="currLocationName"/>
            <dw:input-session-variable  mimeType="application/java" variableName="paymentIdToLocationId"/>
            <dw:input-session-variable doc:sample="sample_data/LinkedHashMap_1.dwl" mimeType="application/java" variableName="merchantId"/>
            <dw:set-payload resource="classpath:smartwool/dwl/payment-transform.dwl"/>
        </dw:transform-message>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP-VFC-reporting" outputPattern="#[sessionVars.merchantDetails.merchantId]-payments-#[function:datestamp:MM-dd-yy].xml" host="${vfcorp.smartwool.sftp.host}" port="${vfcorp.smartwool.sftp.port}" path="${vfcorp.sftp.path.sw}" user="${vfcorp.smartwool.sftp.username}" password="${vfcorp.smartwool.sftp.password}" responseTimeout="10000" doc:name="Transfer GC to SFTP" duplicateHandling="overwrite"/>
    </sub-flow>
</mule>
