src/main/app/vfcorp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="vfcorpGenerateTLOG" processingStrategy="synchronous">
    	<!-- TODO: this runs in UTC time. It does not account for daylight savings. -->
        <quartz:inbound-endpoint jobName="generateTLOG" cronExpression="0 30 3 1/1 * ? *" repeatInterval="0" responseTimeout="10000" doc:name="Cron every day at 3:30am (UTC)">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <flow-ref name="setAllParamsForGenerateTLOG" doc:name="Set all parameters"/>
        <flow-ref name="retrieveToken" doc:name="Get Square OAuth tokens for given deployment ID"/>
        <component class="util.SquarePayloadCreator" doc:name="Create Square payload objects"/>
        <flow-ref name="getAllSquareObjects" doc:name="getAllSquareObjects"/>
        <component doc:name="Generate TLOGs">
            <singleton-object class="vfcorp.TLOGGenerator">
                <property key="itemNumberLookupLength" value="${vfcorp.itemNumberLookupLength}"/>
                <property key="timeZoneId" value="${vfcorp.generateTLOGparams.timeMethod.timeZone}"/>
            </singleton-object>
        </component>
        <foreach doc:name="For Each">
            <set-variable variableName="vfcorpStoreNumber" value="#[payload.getStoreNumber()]" doc:name="Set VF store number"/>
            <set-payload value="#[payload.getTlog()]" doc:name="Set payload to generated TLOG"/>
            <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="VFCorpSFTP" outputPattern="#['${vfcorp.generateTLOG.output.namePattern.prefix}' + flowVars.vfcorpStoreNumber + '${vfcorp.generateTLOG.output.namePattern.suffix}']" host="${vfcorp.generateTLOG.output.sftp.host}" port="${vfcorp.generateTLOG.output.sftp.port}" user="${vfcorp.generateTLOG.output.sftp.username}" password="${vfcorp.generateTLOG.output.sftp.password}" responseTimeout="10000" doc:name="SFTP" path="${vfcorp.generateTLOG.output.sftp.path}" duplicateHandling="overwrite"/>
            <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="${email.info.sending.email}" password="${email.info.sending.password}" connector-ref="Gmail" to="${email.info.receiving.email}" from="Square Mule" subject="#['${mule.env}'.toUpperCase() + ' - New TLOG generated for VF Corporation, location ' + flowVars.vfcorpStoreNumber]" responseTimeout="10000" doc:name="Email to Sales Eng"/>
        </foreach>
    </flow>
    <flow name="vfcorpTriggerGenerateTLOG">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vftrigger" doc:name="HTTP"/>
        <flow-ref name="vfcorpGenerateTLOG" doc:name="generateTLOG"/>
    </flow>
    <sub-flow name="setAllParamsForGenerateTLOG">
        <set-variable variableName="deployment" value="${vfcorp.generateTLOGparams.deploymentId}" doc:name="Set deployment ID"/>
        <set-variable variableName="timeMethod" value="${vfcorp.generateTLOGparams.timeMethod}" doc:name="Set time method"/>
        <set-variable variableName="range" value="${vfcorp.generateTLOGparams.timeMethod.range}" doc:name="Set date range to one day"/>
        <set-variable variableName="seconds" value="${vfcorp.generateTLOGparams.timeMethod.seconds}" doc:name="Set seconds"/>
        <set-variable variableName="offset" value="${vfcorp.generateTLOGparams.timeMethod.offset}" doc:name="Set offset"/>
        <set-variable variableName="timeZone" value="${vfcorp.generateTLOGparams.timeMethod.timeZone}" doc:name="Set time zone"/>
    </sub-flow>
    <sub-flow name="getAllSquareObjects">
        <flow-ref name="listLocations" doc:name="getLocations"/>
        <flow-ref name="listPayments" doc:name="getPaymentsFromLocations"/>
        <flow-ref name="listItems" doc:name="Get items from locations"/>
        <flow-ref name="listEmployees" doc:name="Get employees from locations"/>
    </sub-flow>
    <flow name="vfcorpIngestPLU" processingStrategy="synchronous" >
        <sftp:inbound-endpoint connector-ref="VFCorpSFTP" host="${vfcorp.rpc.sftp.host}" port="${vfcorp.rpc.sftp.port}" path="${vfcorp.rpc.sftp.path}" user="${vfcorp.rpc.sftp.username}" password="${vfcorp.rpc.sftp.password}" responseTimeout="10000" pollingFrequency="${vfcorp.sftp.pollingFrequency}" doc:name="SFTP, only getting files that start with &quot;plu.chg&quot; (see XML)" tempDir="processing" useTempFileTimestampSuffix="true" doc:description="The filename filter is defined in the XML; it is not shown in this panel.">
        	<file:filename-wildcard-filter pattern="plu.chg*"/>
        </sftp:inbound-endpoint>
        <set-variable variableName="pluStreamReader" value="#[payload]" doc:name="Store stream reader to variable"/>
        <set-variable variableName="deployment" value="${vfcorp.generateTLOGparams.deploymentId}" doc:name="Set deployment ID"/>
        <flow-ref name="retrieveToken" doc:name="Get Square OAuth tokens for given deployment ID"/>
        <component class="util.SquarePayloadCreator" doc:name="Create Square payload objects"/>
        <flow-ref name="listItems" doc:name="Get items from locations"/>
        <flow-ref name="listCategories" doc:name="Get categories from locations"/>
        <flow-ref name="listFees" doc:name="Get fees from locations"/>
        <component doc:name="Ingest PLU">
            <singleton-object class="vfcorp.RPCIngester">
                <property key="apiUrl" value="${api.url}"/>
                <property key="apiVersion" value="${api.version}"/>
                <property key="itemNumberLookupLength" value="${vfcorp.itemNumberLookupLength}"/>
                <property key="suspiciousNumberOfRecordsCheck" value="${vfcorp.rpc.suspiciousNumberOfRecordsCheck}"/>
                <property key="suspiciousNumberOfRecords" value="${vfcorp.rpc.suspiciousNumberOfRecords}"/>
                <property key="onlyAddsCheck" value="${vfcorp.rpc.onlyAddsCheck}"/>
            </singleton-object>
        </component>
        <set-payload value="New PLU file ingested by VFCorp." doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="${email.info.sending.email}" password="${email.info.sending.password}" connector-ref="Gmail" to="${email.info.receiving.email}" from="Square Mule" subject="#['${mule.env}'.toUpperCase() + ' - New PLU ingested by VFCorp']" responseTimeout="10000" doc:name="Email to Sales Eng"/>
    </flow>
</mule>
